body{
    display:flex;
    flex-direction: column;
    color:blue
}
main{
    display:flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
    color:rgb(183, 56, 50)
}
